<div class="bkg-img">
  <div class="logo1">
    <div class="bkg2">
      <img src="assets/logo-fourchette-2.png" alt="">
<nz-layout>
  <nz-header>
    <!--<div class="logo"></div>-->
    <nav>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item></li>
      <a routerLink="/acceuil" routerLinkActive="active">Acceuil</a>
      <li nz-menu-item></li>
      <a routerLink="/information" routerLinkActive="active">Informations</a>
      <li nz-menu-item></li>
      <a routerLink="/menu" routerLinkActive="active">Menu</a>
      <li nz-menu-item></li>
      <a routerLink="/reservation" routerLinkActive="active">Reservation</a>
      <li nz-menu-item></li>
      <li nz-menu-item nzMatchRouter>
    </ul>
    </nav>
  </nz-header>
  <!--<div class="inner-content">
  </div>-->
</nz-layout>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
